<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" 
        alt="{{ recipe.name }}" 
        class="img-responsive"
        style="max-height: 300px">
    </div>
</div>
<div class="row">
    <h1>{{ recipe.name }}</h1>
</div>
<div class="row">
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button">
            Manage Recipe
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            

        </ul>
    </div>
</div>
<div class="row">
    {{recipe.description}}
</div>
<div class="row">
    Ingredients
</div>
<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->