<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipes</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">

        <app-recipe-item 
        *ngFor="let recipeEl of recipe"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
    </div>
</div>